body {
    text-align: center;
    margin-top: 50px;
    background: #4DB6AC;
}

.game-board {
    width: 350px;
    height: 300px;
    margin:  auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 8px;
    border: 2px solid black;

    background-color: #007BFF; 
    padding: 2%;
}

.cell {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #FFFFFF; 
}

.info {
    margin-top: 20px;
}

.player1{
    background-color: red;
}

.player2{
    background-color: yellow;
}
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.cell.falling {
    animation: slideDown 0.5s forwards; /* Play the animation once and retain the final state */
}

