body {
    text-align: center;
    margin-top: 50px;
    font-family: 'VT323', sans-serif;
    /* background: url("./assets/background3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat; */
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .navbar .title {
    margin: 0;
  }
  
  .navbar-actions {
    position: absolute;
    right: 20px;
    display: flex;
    gap: 10px;
  }

.title {
    font-size: 50px;
    opacity: 0; 
    animation: fadeIn 5s forwards;
}

.game-board, .game-board-icons-row {
    width: 350px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 8px;
}

.game-board {
    height: 300px;
    border: 2px solid black;
    background-color: #007BFF;
    padding: 2%;
}

.game-board-icons-row {
    height: 40px;
}

.down-icon {
    cursor: pointer;
    transition: transform 0.3s;  /* smoothens the hover effect transition */
}

.down-icon:hover {
    animation: pulse 0.5s infinite;  /* pulse animation over 0.5 seconds and repeats indefinitely */
}


.cell {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #FFFFFF; 
    cursor: pointer;
}

.info {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
}
.info-box{
    width: 50px;
    height: 50px;
    background-color: #007BFF;
    border: 2px solid black;
    padding: 8px 8px 10px 6px;
}

.player1{
    background-color: red;
}

.player2{
    background-color: yellow;
}

.cell.falling {
    animation: slideDown 0.5s forwards; /* Play the animation once and retain the final state */
}

.cell.winning {
    border: 2px solid gold; /* or any other highlighting style you prefer */
}


/* Modal */

.modal {
    display: none; /* Modal is hidden by default */
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); 
    justify-content: center;
  }
  
  .modal-content {
    color: white;
  }
  #end-game-message {
    font-size: 50px;
 }
  

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);  /* enlarge the icon by 10% */
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

